@import 'https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/light/main.css';

.viewDiv {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

@media (min-width:640px) {
  /* some padding when not on mobile */
  .viewDiv {
    margin: 10px;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    }
}

#root {
  max-width: 1280px;
  margin: 0 auto; /* center that map*/
}
