@import 'https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/light/main.css';

#viewDiv {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 600px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
