@import 'https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/light/main.css';

.viewDiv {
  padding: 0;
  margin: 0;
  height: 95vh;
  width: 100vw;
}

@media (min-width:640px) {
  /* some padding when not on mobile */
  .viewDiv {
    margin: 10px;
    height: calc(98vh - 20px);
    width: calc(100vw - 20px);
    }
}